.Page {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 21cm;
  height: 30cm;
  transform-origin: top left;

  animation: fade-in 0.3s;
  transform: scale(0);
  transition: 0.3s;
  background: white;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media print {
  .Page {
    transform: none !important;
  }
}
