.Page {
  width: 21cm;
  height: 30cm;
  transform-origin: top left;

  background: #fff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media print {
  .Page {
    transform: none !important;
  }
}
