.Experience {
  padding: 0 32px;
}

.Title {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 4px;
  border-bottom: 1px solid #222;
}

.Title:first-child {
  padding-top: 0;
}

.List {
  display: grid;
  gap: 8px;
  padding: 8px 0;
}

.ListItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.Time {
  font-weight: 600;
  font-size: 14px;
  width: 80px;
}

.CompanyTitle {
  font-weight: 300;
  font-size: 14px;
}

.PositionTitle {
  font-weight: 600;

  font-size: 14px;
}

.Duties {
  padding-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;

  display: grid;
  list-style: square;
  gap: 6px;
}

.Techs {
  font-weight: 300;
  padding-top: 4px;
}
.Duties li {
  font-size: 14px;
}

.Languages {
  padding: 8px 0;
  display: grid;

  gap: 4px;
}

.Language {
  display: flex;
  gap: 4px;
}

.LanguageName {
  font-size: 14px;
  font-weight: 600;
}

.LanguageStatus {
  font-weight: 300;
  font-size: 14px;
}

.Hobbys {
  padding: 16px 0;
  font-size: 14px;
}

.Row {
  display: grid;
  padding-top: 8px;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
}

.Summary {
  padding: 8px 0;

  font-size: 14px;
  font-weight: 500;
  text-align: justify;
}

.Summary:hover {
  background: rgba(0, 0, 0, 0.1);
}

.Skills {
  display: grid;
  gap: 4px;
  padding: 8px 0;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 16px;
}

.Skill {
  font-weight: 600;
  font-size: 14px;
}

.SubSkills {
  font-weight: 300;
}
